<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AzureWebsite">
  <test thread-count="5" name="AzureWebsiteTest">
    <classes>
      <class name="com.azure.qa.testcases.LoginPageTest"/>
    </classes>
  </test> <!-- AzureWebsiteTest -->
</suite> <!-- AzureWebsite -->
